<!DOCTYPE html>
{% extends "padre.html" %}

{% load static %}

{% block contenido %}
{% if request.user.is_authenticated %}
<img src="{{url}}" alt="" width="50" height="50">
{% endif %}
<h1>{{usuario}}</h1>
<h1>ULTIMOS PRODUCTOS AGREGADOS!</h1>

<div class="productos">
    <!-- Ejemplo de un producto -->
    
    <div class="producto">

        {% for n in productos %}
         <h2>{{n.Articulo}}</h2>
         <p>{{n.Descripcion}}</p>
         <p>{{n.Precio}}</p>
        {% endfor %}

    </div>
    
    <!-- Puedes añadir más productos aquí según sea necesario -->
</div>




{% endblock %}