<!DOCTYPE html>
{% extends "index.html" %}

{% load static %}

{% block contenido %}

<div class="botones">
<button><a href="{% url 'casa' %}">Volver</a></button>
<button><a href="{% url 'carga' %}">Vender un producto!</a></button>
<button><a href="{% url 'mostrar_carrito' %}">Ver carrito</a></button>
</div>

<div class="container">

  <table>
    <thead>
      <tr>
        <th>Articulo</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {% for n in productos %}
       
        <tr>

          <td>{{n.Articulo}}</td>
          <td>{{n.Descripcion}}</td>
          <td>{{n.Precio}}</td>
          <td><button><a href="{% url 'agregaral_carrito' n.id %}">Agregar al carrito</a></button></td>

          {% if request.user.is_authenticated %}
          <td><button><a href="{% url 'Modificar' n.id %}">Editar articulo</a></button></td>
          {% endif %}

          {% if request.user.is_authenticated %}
          <td><button><a href="{% url 'elimina' n.id %}">Eliminar articulo</a></button></td>
          {% endif %}

            
        </tr>
       
      {% endfor %}
    </tbody>
  </table>
</div>

  



{% endblock %}